script(src="http://cdn.staticfile.org/modernizr/2.7.1/modernizr.min.js")
script(src="//use.typekit.net/beh1mwa.js")
script.
    //Typekit
    (function(){try{Typekit.load();}catch(e){}})();
    //Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49141810-1', 'instaraffle.co');
    ga('send', 'pageview');
