extends layout
block header
    include header
block content
    article
        p.
            Coming soon, a simple tool to help you with raffles.
        p.
            Em breve, uma ferramenta simples para te ajudar com sorteios.
