extends layout

block header
    include header
block content
  article
      a.button(href="/new") Make your raffle
      ul
        h2 Pop Raffles
        li.raffle
            .user @joaofelix
            .image
            .count +999k

