doctype 5
html
  head
    title= title
    block metatags
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/home.css')
    script(src='http://localhost:35729/livereload.js')
  body
    #content
        block header
        block content
        include assets

