@import 'reset';
@import 'grid';
@import 'fontello';
@import 'form';

@total-width: 100%;

body {
  font-family: 'Museo Sans', Verdana, Arial;
  font-weight: 300;
  background: url('/img/geometry.png') repeat;
  border-top: 0.4em solid #306688;
  padding: 4em 4em;
  box-sizing: border-box;
  text-align: center;

  p {
    margin-bottom: 1em;
  }

  #content {
    .column(12);
    header {
      text-align: center;
      #brand {
        margin: 0 auto 4em;
        display: block;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        width: 120px;
        height: 120px;
        border-radius: 22px;
        background: url(/img/logo_instagram.png) no-repeat;

        &:before {
          content: '';
          display: block;
          background: url(/img/logo_normal.png) no-repeat;
          width: 240px;
          height: 50px;
          position: fixed;
          margin-top: 50px;
          margin-left: -9px;
        }

      }
    }
  }

}


