@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?67478938');
  src: url('../font/fontello.eot?67478938#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?67478938') format('woff'),
       url('../font/fontello.ttf?67478938') format('truetype'),
       url('../font/fontello.svg?67478938#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67478938#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e816'; } /* '' */
.icon-emo-coffee:before { content: '\e803'; } /* '' */
.icon-spin2:before { content: '\e800'; } /* '' */
.icon-instagramm:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-users-outline:before { content: '\e808'; } /* '' */
.icon-camera-outline:before { content: '\e805'; } /* '' */
.icon-th-list-outline:before { content: '\e80a'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e809'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-lock-open:before { content: '\e80d'; } /* '' */
.icon-pin-outline:before { content: '\e80e'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e813'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-stopwatch:before { content: '\e811'; } /* '' */
.icon-link-outline:before { content: '\e80b'; } /* '' */